button {
    font-size: 1em;
    color: rgb(123, 33, 0);
    border-color: rgb(123, 33, 0);
    width: 160px;
    height: 40px;
    background-color: $primary-color-link;
    border-radius: 5px;

    &:hover {
        border-color: unset;
        background-color: rgb(197, 105, 0);
    }

}
